.slick-arrow {
  display: none !important;
}
.slider__container {
  width: 100%;
  max-width: 650px;
  padding-right: 15px;

  .slick-dots {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 30px 10px 20px;
    list-style-type: none;
    cursor: pointer;
    li {
      margin: 0 0.25rem;
    }
    button {
      display: block;
      width: 15px;
      height: 15px;
      padding: 0;
      border: none;
      border-radius: 100%;
      background-color: $light-grey;
      text-indent: -9999px;
    }
    li.slick-active button {
      background-color: $blue;
    }
  }
  .slick-slide {
    padding: 0 10px;
    &:focus {
      outline: none;
    }
  }
}
