html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  all: unset;
  cursor: pointer;
}

*,
input {
  box-sizing: border-box;
}

input {
  border: none;
  box-sizing: border-box;
}
input:focus, input:active {
  outline: none;
}

@font-face {
  font-family: HelveticaNeueLight;
  src: url("../assets/fonts/HelveticaNeueLight.ttf");
}
@font-face {
  font-family: HelveticaNeueBold;
  src: url("../assets/fonts/HelveticaNeueBold.ttf");
}
body {
  font-size: 14px;
  font-family: "HelveticaNeueLight";
  padding: 0px;
  margin: 0px;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.header__container,
.slider__container,
.service__container-items {
  max-width: 1170px;
  margin: auto;
}

.clearfix:after {
  content: "";
  clear: both;
  display: table;
}

.top-header {
  padding: 80px 0px;
}
.top-header .header__nav {
  float: right;
}
.top-header .header__nav ul {
  display: inline-block;
}
.top-header .header__nav li {
  float: left;
  display: inline-block;
}
.top-header .header__nav a {
  padding: 15px 30px;
  text-decoration: none;
  color: #212733;
  text-transform: uppercase;
  display: inline-block;
}
.top-header .header__nav .contact-button {
  background-color: #212733;
  color: #ffffff;
}

.slick-arrow {
  display: none !important;
}

.slider__container {
  width: 100%;
  max-width: 650px;
  padding-right: 15px;
}
.slider__container .slick-dots {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 30px 10px 20px;
  list-style-type: none;
  cursor: pointer;
}
.slider__container .slick-dots li {
  margin: 0 0.25rem;
}
.slider__container .slick-dots button {
  display: block;
  width: 15px;
  height: 15px;
  padding: 0;
  border: none;
  border-radius: 100%;
  background-color: #cecece;
  text-indent: -9999px;
}
.slider__container .slick-dots li.slick-active button {
  background-color: #0b4e70;
}
.slider__container .slick-slide {
  padding: 0 10px;
}
.slider__container .slick-slide:focus {
  outline: none;
}

.slider {
  padding: 0px 0px 265px;
  position: relative;
  background-image: url("../assets/bg-slider.png");
  background-repeat: no-repeat;
  background-position: 120% top;
  background-size: auto 120%;
}
.slider h1 {
  font-size: 48px;
  color: #212733;
  font-weight: 100;
  text-transform: uppercase;
  margin: 38px 0px;
  letter-spacing: 2px;
}
.slider h2 {
  font-size: 20px;
  color: #707071;
  letter-spacing: 0.07em;
}
.slider img {
  width: 50%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

/*
img.shape-top {
  position: absolute;
  top: -200px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(0, -0%);
  -ms-transform: translate(0, -0%);
  transform: translate(0, -0%);
  z-index: -1;
}
*/
.service__container {
  background-color: #0b4e70;
  padding: 10px;
  position: relative;
  text-align: center;
  color: #ffffff;
  padding-bottom: 200px;
  z-index: 1;
  border-bottom: 30px solid #212934;
}
.service__container:before {
  content: "";
  background-color: #0b4e70;
  display: block;
  width: 100%;
  height: 300px;
  position: absolute;
  top: -125px;
  left: 0;
  right: 0;
  z-index: -1;
  -webkit-transform: skewY(4.8deg);
  -moz-transform: skewY(4.8deg);
  transform: skewY(4.8deg);
}
.service__container h2 {
  font-size: 20px;
  text-transform: uppercase;
  margin: 25px 0px;
  font-family: "HelveticaNeueLight";
  letter-spacing: 2px;
}
.service__container h3 {
  font-size: 16px;
  margin: 0 auto 25px;
  line-height: 1.6;
  font-family: "HelveticaNeueLight";
  letter-spacing: 2px;
  max-width: 240px;
}
.service__container a {
  color: #75c372;
  font-weight: bold;
  letter-spacing: 2px;
  display: inline-block;
  padding-bottom: 2px;
  text-decoration-line: none;
  border-bottom: 1px solid #75c372;
}
.service__container .service__container-item {
  width: 33.333%;
  padding: 0px 15px;
  float: left;
}

@media screen and (min-width: 768px) {
  .top-header .header__nav {
    display: block !important;
  }
}
@media screen and (max-width: 1200px) {
  .header__container,
.slider__container,
.service__container-items {
    max-width: 100%;
    margin: 0px 15px;
  }

  .top-header {
    padding: 40px 0px 80px;
  }

  .slider {
    background-size: auto 105%;
    padding: 0px 0px 165px;
    background-position: 150% 25px;
  }
  .slider h1 {
    font-size: 38px;
  }

  .service__container {
    padding-bottom: 100px;
  }
  .service__container:before {
    top: -80px;
  }

  .slider__container-items {
    width: 100%;
    max-width: 550px;
  }
  .slider__container-items .slick-dots {
    justify-content: start;
  }
}
@media screen and (max-width: 992px) {
  .top-header {
    padding: 35px 0px;
  }

  .service__container .services__container-item {
    width: 33.333%;
  }
}
@media screen and (max-width: 768px) {
  .slider {
    background-size: auto 70%;
    background-position: 150% bottom;
  }
}
@media screen and (max-width: 767px) {
  .top-header .header__container {
    display: block;
    cursor: pointer;
    float: right;
    font-size: 20px;
  }
  .top-header .header__nav {
    width: 100%;
    display: none;
  }
  .top-header .header__nav ul {
    width: 100%;
  }
  .top-header .header__nav li {
    float: none;
    width: 100%;
  }
  .top-header .header__nav a {
    padding: 15px 5px;
    width: 100%;
    display: block;
  }

  .slider {
    background: none;
    padding: 0px 0px 125px;
  }
  .slider h1 {
    font-size: 24px;
    margin: 15px 0px;
  }

  .service__container {
    padding-bottom: 80px;
    padding-top: 30px;
  }
  .service__container:before {
    top: -40px;
  }
  .service__container .services__container-item {
    width: 100%;
    margin-bottom: 30px;
    padding: 15px 0 0px;
  }
  .service__container .services__container-item:last-child {
    margin-bottom: 0px;
  }

  .slider-container {
    padding-right: 0;
  }
  .slider-container .slick-slide {
    padding: 0;
  }
  .slider-container .slick-dots {
    padding: 20px 0;
  }

  .top-header {
    padding: 25px 0px;
  }
}

/*# sourceMappingURL=style.css.map */
